<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6  col-12 profile">
                        <figure>
                            <img src="images/about.jpg" alt="profile picture of nandan" class="img-fluid" title="Nk">
                        </figure>
                    </div>
                    <div class="col-md-6  col-12 main_header_left">
                        <h4>Welcome to Weather App</h4>
                        <p>I am a <span>MERN Stack Developer</span> and <span>Ui/Ux Designer</span></p>
                        <a href="https://nandan-kumar.netlify.app/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>